
/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section stlyes */
nav{
    display: flex;
    justify-content: space-between;
    margin: 5px 60px;
}
.nav-title{
    display: flex;
    font-size: 35px;
    color: #131318;
    gap: 10px;
   
}
.travel{
    color: #FF5400;
}
.group-img{
    width: 50px;
    height: 40px;
    padding: 50px 0px;
}
nav ul {
    display: flex;
    padding: 50px 5px;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424247;
    font-size: 20px;
}
.select-type{
    background-image: url('..//Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;
    margin: 5px 70px;
    text-align: center;

}
.select-one{
    padding: 100px 50px;
}
.select-one h2{
    font-size: 45px;
    color: #FFFFFF;
}
.select-one p{
    font-size: 15px;
    color: #FFFFFF;
    padding: 0px 200px;
    margin-top: 5px;
}
.select-one button{
    padding: 10px 35px;
    color: #1e1e22;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.select-one .btn-primary{
    background-color: #FF5400;
    color: #f8f2f2;
}